<h1>Comment objects</h1>

<table>

  <thead>
    <tr>
      <th>Comment message</th>
      <th>User</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @comments.each do |comment| %>
        <tr>
            <td><%= comment.message %></td>
            <td><%= comment.user.username %>
            <% if @moodboard.user == current_user %>
              <td><%= link_to "Delete", mood_board_comment_path(@moodboard, comment), method: :delete %></td>
            <% end %>
        </tr>
    <% end %>
  </tbody>

</table>